# Extract CSV Data

In [2]:
import pandas as pd

df_demo = pd.read_csv('../data/Demographic_Data.csv')
df_demo

,Location,Population,Density (people/km²),Urbanization (%),Average Income (USD),Education Level (% with Bachelor's or higher)
0,Los Angeles,10039107,3276,89,60000,32
1,Paris,2140526,21383,98,45000,29
2,Tokyo,13929286,6169,100,55000,37
3,Antananarivo,1391433,3097,69,1000,10
4,Nairobi,4397073,6000,61,1500,12
5,Lima,9674755,3220,81,4500,15