## Extract CSV Data

In [1]:
import pandas as pd

df_geo = pd.read_csv('../data/Geographic_Data.csv')
df_geo

       Location  Altitude (m)  Proximity to Industry (km)
0   Los Angeles            89                         5.0
1         Paris            35                         3.0
2         Tokyo            40                         2.0
3  Antananarivo          1276                         0.5
4       Nairobi          1795                         1.0
5          Lima          1540                         1.5